<div class="row">
    <div class="col-2"></div>
    
    <div class="col-8">
        <img src="search1.png" alt="" srcset="" style="width: 500px;margin-left:100px">
        <form action="/search" method="post">
            <input class="form-control mb-2" type="text" name="search" placeholder="Enter Cell Phone Name" >
            <div class="text-center">
                <button type="submit" class="btn btn-dark" style="min-width:250px;"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
            </div>
        </form>
    </div>
    <div class="col-2"></div>
</div>